<div class="global couleur-main">
    <main class='principal'>
    	<section class="accueil">
			<h1><%= __('titre')%></h1>
	    	<h2><%= __('cours')%></h2>
	    	<h3><%= __('date')%></h3>
	    	<p><%= __('description')%></p>
    	</section>
    </main>
</div>	

