<div class="global couleur-menu">
	<div> <!-- début barre de menu -->
		<input id='burger' type='checkbox'>
		<label for='burger'>
			<i class="fa fa-times" aria-hidden="true"></i>
			<i class="fa fa-bars" aria-hidden="true"></i>
		</label>
		<div id='menu'>
			<nav> 
				<a href='/'><i class="fa fa fa-home" aria-hidden="true"></i>Accueil</a>
				 <a href='/question/1'><i class="fa fa fa-users" aria-hidden="true"></i>Question 1#</a>
				 <a href='/question/2'><i class="fa fa-users" aria-hidden="true"></i>Question 2#</a>
				 <a href='/question/3'><i class="fa fa-users" aria-hidden="true"></i>Question 3#</a>

			</nav> 
		</div> <!-- .menu -->
	</div> <!-- fin barre de menu -->
</div>



