<h2><%= __('chat')%></h2>

<section id="enregistrement">
    <input type="text">
    <button onclick="enregistrement()"><%= __('enregistrement')%></button>
</section>

<section id="chat" style='display: none'>

	<table id="list_user"> </table>

    <table id="message">
        <tr>
            <th>Nom Utilisateur :</th>
            <th>Message :</th>
        </tr>
    </table>
    
	<section id="message_a_transmettre">
		<input type="text" name="txtMessage"><button onclick="transmettre_un_message()"><%= __('transmettre')%></button>
	</section>

	
</section>


<script type="text/javascript">
 /* 
Pour établir une communication socket il faut un premier appel de
 la fonction io()
 Cette fonction est incluse dans la librairie socket.io. 
 Cette fonction déclenche un événement connect vers le serveur
 */
 let socket;

 window.onload = ()=>{
    socket = io()
    
    ////////////////////////////////////////////////////////////////////////////
    socket.on('connect', function(){
        console.log('Le socket id = ' + socket.id);

        ///////////////////////////////////////////////////////////////////////////
        socket.on('valide_user',function(data){
            let elmEnregistrement = document.getElementById('enregistrement');
            elmEnregistrement.style.display = 'none'
            let elmChat = document.getElementById('chat')
            elmChat.style.display = 'flex';
        })

        ////////////////////////////////////////////////////////////////////////// diffuser_list_user
        socket.on('diffuser_list_user',function(data){
            console.log('diffuser_list_user' + data)
            affiche_table_users(data);
        })

        ////////////////////////////////////////////////////////////////////////// valide_message
        socket.on('valide_message',function(data){
            console.log('valide_message' + data)
            affiche_mon_message(data, '#ab47bc');
        })

        ////////////////////////////////////////////////////////////////////////// diffuser_message
        socket.on('diffuser_message',function(data){
            console.log('diffuser_message' + data)
            affiche_mon_message(data, '#ef5350');
        })

    });
}
/* ---------------------------------------------------------- */
 function enregistrement(){
    var elmUser = document.querySelector('#enregistrement input')
    console.log(elmUser.value)
    /* l'événement « setUser » est transmit avec un objet */
    socket.emit('setUser', {user : elmUser.value})
 }

////////////////////////////////// TRANSMETTRE UN MESSAGE

function transmettre_un_message(){
    var elmMessage = document.querySelector('#message_a_transmettre input')
    console.log(elmMessage.value)
    
    /* l'événement « setMessage » est transmit avec un objet */
    socket.emit('setMessage', {message : elmMessage.value})
 }

 ////////////////////////////////////////////////////// afficher tableau users
function affiche_table_users(data) {
    let sChaine = '';

            for(id in data)
            {
                sChaine +='<tr>'
                            + '<td>' + id + '</td>'
                            + '<td>' + data[id] + '</td>'
                        + '</tr>'
            }
            let elmListUser = document.getElementById('list_user')
            elmListUser.innerHTML = sChaine;
}

 ////////////////////////////////////////////////////// afficher messages
 function affiche_mon_message(data, couleur) {

    let sChaine = ''

    sChaine += '<td style="background-color:' + couleur + '";><img src="images/patrick.png" class="ui avatar image">' + data.user +  '</td>'
             + '<td>' + data.message + '</td>'
    
    let elmTr = document.createElement('tr')
    elmTr.innerHTML = sChaine

    let elmTableMessage = document.getElementById('message')
    elmTableMessage.appendChild(elmTr)
}
</script>