<!DOCTYPE html>
<html>
	<%- include('composants/head') %>
	<%- include('composants/menu') %>
    <%- include('composants/entete') %>
	
	<% if(nmPage == '1') {%>
		<h1>Question 1</h1>
	<%} else {%>
		<h1>Question 2</h1>
	<%}%>

	<%- include('composants/footer') %>
</html>