.couleur-menu {
  /* display: flex;
  flex-direction: column;
  /* ///////////////////////////////////////////  Gestion du burger */
  /* ///////////////////////////////////////////////////////// recherche */
}
.couleur-menu #burger {
  display: none;
}
.couleur-menu #burger + label {
  position: absolute;
  right: : 20px;
  display: block;
  border: 2px solid #aaa;
  padding: 2px;
  border-radius: 10%;
  width: 1.5em;
  height: 1.5em;
}
.couleur-menu #burger:checked + label svg:nth-child(1) {
  display: block;
}
.couleur-menu #burger:checked + label svg:nth-child(2) {
  display: none;
}
.couleur-menu #burger + label svg:nth-child(1) {
  display: none;
}
.couleur-menu #burger + label svg:nth-child(2) {
  display: block;
}
.couleur-menu #burger ~ #menu > nav {
  position: absolute;
  background-color: #ccc;
  width: 200px;
  left: 50px;
  top: -112px;
  padding: 10px;
}
.couleur-menu #burger:checked ~ #menu > nav {
  top: 0px;
}
.couleur-menu .recherche {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  height: 1.8em;
}
.couleur-menu .recherche button {
  color: #2a3f55;
  font-size: 1.0em;
}
.couleur-menu .recherche input {
  border: 1px solid #aaa;
  padding-left: 5px;
}
.couleur-menu #menu nav {
  display: flex;
  flex-direction: column;
}
.couleur-menu #menu nav a {
  color: #4c7299;
  text-decoration: none;
  padding: 1%;
}
@media all and (min-width: 700px) {
  .couleur-menu {
    display: flex;
    flex-direction: row;
    padding: 20px 0 20px 0;
  }
  .couleur-menu #burger + label {
    display: none;
  }
  .couleur-menu #burger ~ #menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
  }
  .couleur-menu #burger ~ #menu .recherche {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    height: 1.8em;
  }
  .couleur-menu #burger ~ #menu > nav {
    display: flex;
    position: static;
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #fff;
  }
  .couleur-menu #burger ~ #menu > nav a {
    display: flex;
    justify-content: space-between;
    width: 20%;
    padding-right: 7%;
    padding-left: 7%;
  }
  .couleur-menu #burger ~ #menu > nav a .fa {
    color: #4c7299;
    min-width: 1em;
    min-width: 38%;
  }
  .couleur-menu #burger ~ #menu > nav a:hover {
    background-color: #bbb;
    color: #2a3f55;
  }
  .couleur-menu #burger ~ #menu > nav a:hover .fa {
    color: #2a3f55;
  }
}
